# SPDX-FileCopyrightText: 2014 The Flutter Authors
#
# SPDX-License-Identifier: BSD-3-Clause

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
