# SPDX-FileCopyrightText: 2025 Arcangelo Massari <info@arcangelomassari.com>
#
# SPDX-License-Identifier: ISC

# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/
